# directories

llama3/

# gemma3/
gemma3/configs/
# gemma3/logs/
gemma3/notebooks/
gemma3/outputs/
gemma3/sanskrit_data/
gemma3/wandb/
gemma3/src/__pycache__/
gemma3/temp_clone/
gemma3/tib_data/
gemma3/=20.0

# Tokenizers/
Tokenizers/__pycache__/
Tokenizers/archive/
Tokenizers/configs/
Tokenizers/logs/
Tokenizers/log_score/
Tokenizers/logs/
Tokenizers/vocabularies/

# EVALUATION/
EVALUATION/logs/
EVALUATION/results/
EVALUATION/src/__pycache__/
EVALUATION/configs/

# Log files
*.log

# Data files (if you don't want to upload large datasets)
*.csv
*.json

# Model files (often very large)
*.pkl
*.model
*.weights

# Temporary files
*.pid

model-evaluation/
verse-extraction/